In [1]:
# HIDDEN
from datascience import *
from prob140 import *
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import numpy as np

### Dependence ###

In [2]:
heads_table = Table().domain([0.2,0.9],[2,1,0])
heads_table['Probability'] = make_array(.75*.04, .75*.32,.75*.64,.25*.81,.25*.18,.25*.01)
joint_dist_new = heads_table.toJoint()
joint_dist_new

     X=0.2   X=0.9
Y=2   0.03  0.2025
Y=1   0.24  0.0450
Y=0   0.48  0.0025

In [4]:
joint_dist_new.marginal_of_X()

                    X=0.2   X=0.9
Y=2                  0.03  0.2025
Y=1                  0.24  0.0450
Y=0                  0.48  0.0025
Sum: Marginal of X   0.75  0.2500

In [5]:
joint_dist_new.marginal_of_Y()

     X=0.2   X=0.9  Sum: Marginal of Y
Y=2   0.03  0.2025              0.2325
Y=1   0.24  0.0450              0.2850
Y=0   0.48  0.0025              0.4825

In [6]:
joint_dist_new.both_marginals()

                    X=0.2   X=0.9  Sum: Marginal of Y
Y=2                  0.03  0.2025              0.2325
Y=1                  0.24  0.0450              0.2850
Y=0                  0.48  0.0025              0.4825
Sum: Marginal of X   0.75  0.2500              1.0000

In [7]:
joint_dist_new.conditional_dist_Y_given_X()

     Dist. of Y | X=0.2  Dist. of Y | X=0.9  Marginal of Y
Y=2                0.04                0.81         0.2325
Y=1                0.32                0.18         0.2850
Y=0                0.64                0.01         0.4825
Sum                1.00                1.00         1.0000

In [8]:
joint_dist_new.conditional_dist_X_given_Y()

                     X=0.2     X=0.9  Sum
Dist. of X | Y=2  0.129032  0.870968  1.0
Dist. of X | Y=1  0.842105  0.157895  1.0
Dist. of X | Y=0  0.994819  0.005181  1.0
Marginal of X     0.750000  0.250000  1.0

### Independence ###

In [9]:
# 5 tosses of a fair coin
# X is the number of heads in the first 3 tosses 
three_coins = make_array(1/8, 3/8, 3/8, 1/8)

# Y is the number of heads in the next two tosses
two_coins = make_array(1/4, 1/2, 1/4)

In [15]:
def p(*row):
    x,y = row[0],row[1]
    return three_coins[x]*two_coins[y]
tosses5 = Table().domain([0,1,2,3],[0,1,2]).probability_function(p)
tosses5
joint_dist_2 = tosses5.toJoint()
joint_dist_2

         X=0      X=1      X=2      X=3
Y=2  0.03125  0.09375  0.09375  0.03125
Y=1  0.06250  0.18750  0.18750  0.06250
Y=0  0.03125  0.09375  0.09375  0.03125

In [16]:
joint_dist_2.values.sum()

1.0

In [18]:
joint_dist_2.marginal_of_Y()

         X=0      X=1      X=2      X=3  Sum: Marginal of Y
Y=2  0.03125  0.09375  0.09375  0.03125                0.25
Y=1  0.06250  0.18750  0.18750  0.06250                0.50
Y=0  0.03125  0.09375  0.09375  0.03125                0.25

In [19]:
joint_dist_2.marginal_of_X()

                        X=0      X=1      X=2      X=3
Y=2                 0.03125  0.09375  0.09375  0.03125
Y=1                 0.06250  0.18750  0.18750  0.06250
Y=0                 0.03125  0.09375  0.09375  0.03125
Sum: Marginal of X  0.12500  0.37500  0.37500  0.12500

In [20]:
joint_dist_2.both_marginals()

                        X=0      X=1      X=2      X=3  Sum: Marginal of Y
Y=2                 0.03125  0.09375  0.09375  0.03125                0.25
Y=1                 0.06250  0.18750  0.18750  0.06250                0.50
Y=0                 0.03125  0.09375  0.09375  0.03125                0.25
Sum: Marginal of X  0.12500  0.37500  0.37500  0.12500                1.00

In [21]:
joint_dist_2.conditional_dist_X_given_Y()
# independence: all the rows are the same

                    X=0    X=1    X=2    X=3  Sum
Dist. of X | Y=2  0.125  0.375  0.375  0.125  1.0
Dist. of X | Y=1  0.125  0.375  0.375  0.125  1.0
Dist. of X | Y=0  0.125  0.375  0.375  0.125  1.0
Marginal of X     0.125  0.375  0.375  0.125  1.0

In [22]:
joint_dist_2.conditional_dist_Y_given_X()
# independence: all the columns are the same

,Dist. of Y | X=0,Dist. of Y | X=1,Dist. of Y | X=2,Dist. of Y | X=3,Marginal of Y
Y=2,0.25,0.25,0.25,0.25,0.25
Y=1,0.50,0.50,0.50,0.50,0.50
Y=0,0.25,0.25,0.25,0.25,0.25
Sum,1.00,1.00,1.00,1.00,1.00